<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>昂思管理系统</title>
  <link rel="icon" href="/logo.png" type="image/x-icon">
</head>
<style></style>
<body>
  <!--[if IE]>
  <div style="color: red;text-align: center">
    推荐使用免费的<a href="http://down.tech.sina.com.cn/content/40975.html" target="_blank" style="text-decoration: underline; color:#42b983">Chrome浏览器</a>、<a href="http://www.firefox.com.cn/" target="_blank" style="text-decoration: underline; color:#42b983">Firefox浏览器</a>，或者升级到Edge。
  </div>
  <![endif]-->
  <div id="root"></div>
</body>

</html>
